[mode="light"] {
	--color-prime: #326f95;
	--color-background: #fff;
	--color-error-background: #ffe1e1;
	--color-error-text: #761137;
}

[mode="dark"] {
	--color-prime: #fff;
	--color-background: #000;
	--color-error-background: #761137;
	--color-error-text: #ffe1e1;
}

html[theme="dev"] {
	border-top: 0.5em solid #aaa;
}

html[theme="test"] {
	border-top: 0.5em solid #54aea0;
}

html[theme="prod"] {
	border-top: 0.5em solid #326f95;
}

html[theme="dev"] body, 
html[theme="test"] body, 
html[theme="prod"] body	{
	margin-top: 1.5em;
}

body {
	margin: 2em;
	font-family: sans-serif;
	color: var(--color-prime);
	background-color: var(--color-background);
}

table#header {
	margin-bottom: 0.4em;
}

table#header img {
	height: 7em;
	padding-bottom: 0.38em;
	display: block;
}

td#heading {
	vertical-align: bottom;
}

td#heading h1 {
	font-size: 2em;
	font-family: monospace;
	color: var(--color-prime);
	margin: 0 0 0 1em;
	word-break: break-word;
}

td#heading h1 a {
	white-space: nowrap;
}

td#heading h1 a:link,
td#heading h1 a:visited,
td#heading h1 a:active {
	color: var(--color-prime);
	text-decoration: none;
}

td#heading h1 a:hover {
	text-decoration: underline;
}

#icons {
	position: absolute;
	top: 2em;
	right: 2em;
	display: flex;
	column-gap: 0.25em;
}

#hello-user {
	margin-right: 0.5em;
	color: #aaa;
	padding-top: 0.2em;
	font-size: 0.9em;
}

.icon {
	height: 1.4em;
	cursor: pointer;
}

.icon>path {
	fill: #aaa;
}

.icon:hover>path {
	fill: var(--color-prime);
}

.icon[disabled] {
	height: 1.4em;
	cursor: auto;
}

.icon[disabled]:hover>path {
	fill: #aaa;
}

#html {
	border-top: 0.07em solid #ccc;
}

a:link,
a:visited,
a:active {
	color: var(--color-prime);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#bpmn-canvas {
	position: absolute;
	top: 10em;
	right: 1em;
	bottom: 1em;
	left: 1em;
}

@media print {
	body {
		margin: 0;
	}
	table#header {
		margin-bottom: 2em;
	}
	table#header img {
		height: 3em;
	}
	td#heading h1 {
		font-size: 1.5em;
	}
	#icons {
		display: none;
	}
}