<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="resource">
		<div id="resource-data" th:fragment="resource-data">
			<th:block th:insert="~{resourceElements::identifier}" th:with="identifier=${measureReport.identifier}" th:if="${measureReport.identifier}"></th:block>
			<th:block th:insert="~{resourceElements::status}" th:with="class='element element-50'"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Type',string=${measureReport.type},class='element element-50'"></th:block>
			<th:block th:insert="~{resourceElements::id}" th:with="label='Measure',id=${measureReport.measure}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Date',string=${measureReport.date}" th:if="${measureReport.date}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Group Population Count',string=${measureReport.groupPopulationCount}" th:if="${measureReport.groupPopulationCount}"></th:block>
			<th:block th:insert="~{resourceElements::additionalValuesComment}"></th:block>
		</div>
	</div>
</body>
</html>