[mode="light"] {
	--color-prime: #326f95;
	--color-background: #fff;
	--color-alt-background: #eee;
	--color-tab-button: #000;
	--color-tab-button-background: #f2f2f2;
	--color-tab-button-hover: #000;
	--color-tab-button-background-hover: #ddd;
	--color-tab-button-background-active: #ccc;
	--color-row-background: #f2f2f2;
	--color-row-background-deep: #e2e2e2;
	--color-row-background-hover: #ddd;
	--color-input-text: #000;
	--color-input-background: #fff;
	--color-input-border: #ccc;
	--color-input-radio-border: #000;
	--color-input-placeholder: #aaa;
	--color-info-background-blue: #deecf9;
	--color-info-blue: #326f95;
	--color-info-background-grey: #f2f2f2;
	--color-info-grey: #545454;
	--color-info-background-orange: #fff7c7;
	--color-info-orange: #a25b36;
	--color-info-background-green: #e4fde1;
	--color-info-green: #357a38;
	--color-info-background-red: #ffe1e1;
	--color-info-red: #761137;
	--color-error-background: #ffe1e1;
	--color-error-text: #761137;
	--color-disabled-background: #f2f2f2;
	--color-disabled-text: #545454;
	--color-row-border-blue: #326f95;
	--color-row-border-grey: #545454;
	--color-row-border-orange: #a25b36;
	--color-row-border-green: #357a38;
	--color-row-border-red: #761137;
}

[mode="dark"] {
	--color-prime: #fff;
	--color-background: #000;
	--color-alt-background: #181818;
	--color-tab-button: #fff;
	--color-tab-button-background: #333;
	--color-tab-button-background-hover: #ddd;
	--color-tab-button-hover: #000;
	--color-tab-button-background-active: #888;
	--color-row-background: #333;
	--color-row-background-deep: #444;
	--color-row-background-hover: #777;
	--color-input-text: #fff;
	--color-input-background: #181818;
	--color-input-border: #666;
	--color-input-radio-border: #fff;
	--color-input-placeholder: #666;
	--color-info-background-blue: #326f95;
	--color-info-blue: #deecf9;
	--color-info-background-grey: #333;
	--color-info-grey: #aaa;
	--color-info-background-orange: #a25b36;
	--color-info-orange: #fff7c7;
	--color-info-background-green: #14452f;
	--color-info-green: #e4fde1;
	--color-info-background-red: #761137;
	--color-info-red: #ffe1e1;
	--color-error-background: #761137;
	--color-error-text: #ffe1e1;
	--color-disabled-background: #333;
	--color-disabled-text: #aaa;
	--color-row-border-blue: #326f95;
	--color-row-border-grey: #aaa;
	--color-row-border-orange: #a25b36;
	--color-row-border-green: #14452f;
	--color-row-border-red: #761137;
}

html[theme="dev"] {
	border-top: 0.5em solid #aaa;
}

html[theme="test"] {
	border-top: 0.5em solid #54aea0;
}

html[theme="prod"] {
	border-top: 0.5em solid #326f95;
}

html[theme="dev"] body, 
html[theme="test"] body, 
html[theme="prod"] body	{
	margin-top: 1.5em;
}

body {
	margin: 2em;
	font-family: sans-serif;
	background-color: var(--color-background);
}

#header {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	margin-bottom: 1em;
}

#logo {
	grid-row: 1 / span 2;
	margin-bottom: 0.41em;
}

#icons {
	grid-column: 2;
  	grid-row: 1;
	display: flex;
	column-gap: 0.25em;
	justify-self: right;
}

#url {
	grid-column: 2;
	grid-row: 2;
	font-size: 2em;
	font-family: monospace;
	color: var(--color-prime);
	align-self: end;
	margin: 0 0 0 1em;
	word-break: break-word;
}

@media ( max-width: 64rem) {
	#header {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		height: auto;
	}
	#icons {
		grid-column: 1;
		grid-row: 1;
		margin: 0 0 1em 0;
	}
	#logo {
		grid-column: 1;
		grid-row: 2;
		margin: 0;
		height: 14vw;
	}
	#url {
		grid-column: 1;
		grid-row: 3;
		margin: 1em 0 0 0;
	}
}

#url a:link,
#url a:visited,
#url a:active {
	color: var(--color-prime);
	text-decoration: none;
}

#url a:hover {
	text-decoration: underline;
}

.tab {
	text-align: right;
}

.tab button {
	padding: 0.2em 0.6em;
	background-color: var(--color-tab-button-background);
	color: var(--color-tab-button);
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.tab button:hover {
	background-color: var(--color-tab-button-background-hover);
	color: var(--color-tab-button-hover);
}

.tab button.active {
	background-color: var(--color-tab-button-background-active);
	color: var(--color-tab-button);
}

pre {
	white-space: pre-wrap;
	word-break: break-all;
	margin-top: 0;
}

pre.lang-xml {
	display: none;
}

pre.lang-json {
	display: none;
}

pre.lang-html {
	display: none;
	border: 0;
	font-family: monospace;
}

#hello-user {
	margin-right: 0.5em;
	color: #aaa;
	padding-top: 0.2em;
	font-size: 0.9em;
}

.icon {
	height: 1.4em;
	cursor: pointer;
}

.icon>path {
	fill: #aaa;
}

.icon:hover>path {
	fill: var(--color-prime);
}

.icon[disabled] {
	height: 1.4em;
	cursor: auto;
}

.icon[disabled]:hover>path {
	fill: #aaa;
}

#bookmark-remove.icon {
	display: none;
}

#help {
	display: none;
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 1em;
	border: 1px solid #ccc;
	color: var(--color-prime);
	background: var(--color-background);
	padding-top: 2em;
	max-width: 83%;
	min-width: 12em;
	z-index: 1;
}

#help>#help-title {
	color: var(--color-prime);
	position: relative;
	top: -1.9em;
	font-family: sans-serif;
}

#help-close {
	position: absolute;
	top: 1em;
	right: 1em;
}

.help-param {
	font-size: small;
	font-family: sans-serif;
	margin-bottom: 1.2em;
}

.help-param:last-child {
	margin-bottom: 0;
}

.help-param-name {
	font-weight: bold;
	margin-right: 1em;
}

.help-param-type {
	font-style: italic;
}

.help-param-documentation {
	max-width: 50em;
	margin-top: 0.5em;
	margin-bottom: 0;
}

#bookmarks {
	display: none;
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 1em;
	border: 1px solid #ccc;
	background: var(--color-background);
	padding-top: 2em;
	max-width: 83%;
	min-width: 8em;
	z-index: 1;
}

#bookmarks>#bookmarks-title {
	color: var(--color-prime);
	position: relative;
	top: -1.9em;
	font-family: sans-serif;
}

#bookmarks a:link,
#bookmarks a:visited,
#bookmarks a:active {
	color: var(--color-prime);
	text-decoration: none;
	vertical-align: super;
	font-family: monospace;
}

#bookmarks a:hover {
	text-decoration: underline;
}

#bookmarks>#bookmarks-list {
	margin-block-start: 0;
	margin-block-end: 0;
}

#bookmarks>#bookmarks-list>h4 {
	margin-block-start: 1em;
	margin-block-end: 0.2em;
}

#bookmarks>#bookmarks-list>div {
	margin-block-start: 0;
	margin-block-end: 0.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#bookmarks:focus {
	outline: none;
}

#bookmark-list-close {
	position: absolute;
	top: 1em;
	right: 1em;
}

.bookmarks-list-entry-removed>a:link,
.bookmarks-list-entry-removed>a:visited,
.bookmarks-list-entry-removed>a:active {
	color: #aaa !important;
}

.bundle {
	border: 1px solid #ccc;
	padding: 20px 20px 10px 20px;
	color: var(--color-prime);
}

.bundle #bundle-header table {
	width: 100%
}

.bundle #bundle-header table td:nth-child(2) {
	text-align: center;
	vertical-align: top;
}

.bundle #bundle-header table td:nth-child(3) {
	text-align: right;
}

.bundle #bundle-header #resources {
	padding-right: 1em;
	color: #aaa
}

.bundle #bundle-header #page {
	padding-left: 1em;
	color: #aaa
}

.bundle #bundle-list {
	overflow-x: auto;
}

.bundle>#bundle-list>table {
	border-collapse: separate;
	border-spacing: 0 1rem;
	width: 100%
}

.bundle>#bundle-list>table tr:not(:first-child) {
	cursor: pointer;
}

.bundle>#bundle-list>table th:first-child {
	border-left: 0.5rem solid var(--color-row-background-deep);
}

.bundle>#bundle-list>table td:first-child {
	border-left: 0.5rem solid var(--color-row-background);
}

.bundle>#bundle-list>table th {
	color: var(--color-prime);
	background-color: var(--color-row-background-deep);
	padding: 1rem 0 1rem 1rem;
	white-space: nowrap;
	text-align: left;
}

.bundle>#bundle-list>table td {
	background-color: var(--color-row-background);
	padding: 1rem 0 1rem 1rem;
	white-space: nowrap;
	text-align: left;
}

.bundle>#bundle-list>table tr:hover td {
	background-color: var(--color-row-background-hover);
}

.bundle>#bundle-list>table th:last-child {
	padding-right: 1rem;
}

.bundle>#bundle-list>table td:last-child {
	padding-right: 1rem;
}

.bundle>#bundle-list>table tr[resource-type="ActivityDefinition"] td[status="draft"],
.bundle>#bundle-list>table tr[resource-type="CodeSystem"] td[status="draft"],
.bundle>#bundle-list>table tr[resource-type="Library"] td[status="draft"],
.bundle>#bundle-list>table tr[resource-type="Measure"] td[status="draft"],
.bundle>#bundle-list>table tr[resource-type="NamingSystem"] td[status="draft"],
.bundle>#bundle-list>table tr[resource-type="Questionnaire"] td[status="draft"],
.bundle>#bundle-list>table tr[resource-type="StructureDefinition"] td[status="draft"],
.bundle>#bundle-list>table tr[resource-type="ValueSet"] td[status="draft"] {
	border-left-color: var(--color-row-border-blue);
}

.bundle>#bundle-list>table tr[resource-type="ActivityDefinition"] td[status="active"],
.bundle>#bundle-list>table tr[resource-type="CodeSystem"] td[status="active"],
.bundle>#bundle-list>table tr[resource-type="Library"] td[status="active"],
.bundle>#bundle-list>table tr[resource-type="Measure"] td[status="active"],
.bundle>#bundle-list>table tr[resource-type="NamingSystem"] td[status="active"],
.bundle>#bundle-list>table tr[resource-type="Questionnaire"] td[status="active"],
.bundle>#bundle-list>table tr[resource-type="StructureDefinition"] td[status="active"],
.bundle>#bundle-list>table tr[resource-type="ValueSet"] td[status="active"] {
	border-left-color: var(--color-row-border-green);
}

.bundle>#bundle-list>table tr[resource-type="ActivityDefinition"] td[status="retired"],
.bundle>#bundle-list>table tr[resource-type="CodeSystem"] td[status="retired"],
.bundle>#bundle-list>table tr[resource-type="Library"] td[status="retired"],
.bundle>#bundle-list>table tr[resource-type="Measure"] td[status="retired"],
.bundle>#bundle-list>table tr[resource-type="NamingSystem"] td[status="retired"],
.bundle>#bundle-list>table tr[resource-type="Questionnaire"] td[status="retired"],
.bundle>#bundle-list>table tr[resource-type="StructureDefinition"] td[status="retired"],
.bundle>#bundle-list>table tr[resource-type="ValueSet"] td[status="retired"] {
	border-left-color: var(--color-row-border-grey);
}

.bundle>#bundle-list>table tr[resource-type="DocumentReference"] td[status="current"] {
	border-left-color: var(--color-row-border-green);
}

.bundle>#bundle-list>table tr[resource-type="DocumentReference"] td[status="superseded"] {
	border-left-color: var(--color-row-border-grey);
}

.bundle>#bundle-list>table tr[resource-type="DocumentReference"] td[status="entered-in-error"] {
	border-left-color: var(--color-row-border-red);
}

.bundle>#bundle-list>table tr[resource-type="Endpoint"] td[status="active"] {
	border-left-color: var(--color-row-border-green);
}

.bundle>#bundle-list>table tr[resource-type="Endpoint"] td[status="off"],
.bundle>#bundle-list>table tr[resource-type="Endpoint"] td[status="suspended"]	{
	border-left-color: var(--color-row-border-grey);
}

.bundle>#bundle-list>table tr[resource-type="Endpoint"] td[status="error"],
.bundle>#bundle-list>table tr[resource-type="Endpoint"] td[status="entered-in-error"] {
	border-left-color: var(--color-row-border-red);
}

.bundle>#bundle-list>table tr[resource-type="Endpoint"] td[status="test"] {
	border-left-color: var(--color-row-border-blue);
}

.bundle>#bundle-list>table tr[resource-type="MeasureReport"] td[status="complete"] {
	border-left-color: var(--color-row-border-green);
}

.bundle>#bundle-list>table tr[resource-type="MeasureReport"] td[status="pending"] {
	border-left-color: var(--color-row-border-orange);
}

.bundle>#bundle-list>table tr[resource-type="MeasureReport"] td[status="error"] {
	border-left-color: var(--color-row-border-red);
}

.bundle>#bundle-list>table tr[resource-type="Organization"] td[active="true"],
.bundle>#bundle-list>table tr[resource-type="OrganizationAffiliation"] td[active="true"] {
	border-left-color: var(--color-row-border-green);
}

.bundle>#bundle-list>table tr[resource-type="Organization"] td[active="false"],
.bundle>#bundle-list>table tr[resource-type="OrganizationAffiliation"] td[active="false"] {
	border-left-color: var(--color-row-border-grey);
}

.bundle>#bundle-list>table tr[resource-type="QuestionnaireResponse"] td[status="in-progress"] {
	border-left-color: var(--color-row-border-orange);
}

.bundle>#bundle-list>table tr[resource-type="QuestionnaireResponse"] td[status="completed"] {
	border-left-color: var(--color-row-border-grey);
}

.bundle>#bundle-list>table tr[resource-type="QuestionnaireResponse"] td[status="amended"] {
	border-left-color: var(--color-row-border-green);
}

.bundle>#bundle-list>table tr[resource-type="QuestionnaireResponse"] td[status="entered-in-error"],
.bundle>#bundle-list>table tr[resource-type="QuestionnaireResponse"] td[status="stopped"] {
	border-left-color: var(--color-row-border-red);
}

.bundle>#bundle-list>table tr[resource-type="Subscription"] td[status="requested"] {
	border-left-color: var(--color-row-border-blue);
}

.bundle>#bundle-list>table tr[resource-type="Subscription"] td[status="active"] {
	border-left-color: var(--color-row-border-green);
}

.bundle>#bundle-list>table tr[resource-type="Subscription"] td[status="error"] {
	border-left-color: var(--color-row-border-red);
}

.bundle>#bundle-list>table tr[resource-type="Subscription"] td[status="off"] {
	border-left-color: var(--color-row-border-grey);
}

.bundle>#bundle-list>table tr[resource-type="Task"] td[status="draft"] {
	border-left-color: var(--color-row-border-blue);
}

.bundle>#bundle-list>table tr[resource-type="Task"] td[status="requested"] {
	border-left-color: var(--color-row-border-grey);
}

.bundle>#bundle-list>table tr[resource-type="Task"] td[status="in-progress"] {
	border-left-color: var(--color-row-border-orange);
}

.bundle>#bundle-list>table tr[resource-type="Task"] td[status="completed"] {
	border-left-color: var(--color-row-border-green);
}

.bundle>#bundle-list>table tr[resource-type="Task"] td[status="failed"] {
	border-left-color: var(--color-row-border-red);
}

.bundle>#bundle-list>table td.id-value {
	font-family: monospace;
}

.bundle a:link,
.bundle a:visited,
.bundle a:active {
	color: var(--color-prime);
	text-decoration: none;
}

.bundle a:hover {
	text-decoration: underline;
}

.bundle>#bundle-list>table td:first-child,
.bundle>#bundle-list>table th:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.bundle>#bundle-list>table td:last-child,
.bundle>#bundle-list>table th:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.bundle>#include-footer>p {
	font-style: italic;
}

.bundle>#diagnostics-footer>p {
	font-style: italic;
}

.section-header {
	font-family: monospace;
	font-size: 1.75em;
	color: #326F95;
	padding-left: 5px;
	margin-bottom: 12px;
}

#resource {
	border: 1px solid #ccc;
	padding: 20px;
	color: var(--color-prime);
}

#resource #base-data {
	display: flex;
	flex-direction: row;
	border-radius: 0.4em;
	padding: 1em;
}

#resource:not([status], [active]) #base-data {
	color: var(--color-input-text);
	border: 1px solid #ccc;
}

#resource[resource-type="ActivityDefinition"][status="draft"] #base-data,
#resource[resource-type="CodeSystem"][status="draft"] #base-data,
#resource[resource-type="Library"][status="draft"] #base-data,
#resource[resource-type="Measure"][status="draft"] #base-data,
#resource[resource-type="NamingSystem"][status="draft"] #base-data,
#resource[resource-type="Questionnaire"][status="draft"] #base-data,
#resource[resource-type="StructureDefinition"][status="draft"] #base-data,
#resource[resource-type="ValueSet"][status="draft"] #base-data {
	background-color: var(--color-info-background-blue);
	color: var(--color-info-blue);
}

#resource[resource-type="ActivityDefinition"][status="active"] #base-data,
#resource[resource-type="CodeSystem"][status="active"] #base-data,
#resource[resource-type="Library"][status="active"] #base-data,
#resource[resource-type="Measure"][status="active"] #base-data,
#resource[resource-type="NamingSystem"][status="active"] #base-data,
#resource[resource-type="Questionnaire"][status="active"] #base-data,
#resource[resource-type="StructureDefinition"][status="active"] #base-data,
#resource[resource-type="ValueSet"][status="active"] #base-data {
	background-color: var(--color-info-background-green);
	color: var(--color-info-green);
}

#resource[resource-type="ActivityDefinition"][status="retired"] #base-data,
#resource[resource-type="CodeSystem"][status="retired"] #base-data,
#resource[resource-type="Library"][status="retired"] #base-data,
#resource[resource-type="Measure"][status="retired"] #base-data,
#resource[resource-type="NamingSystem"][status="retired"] #base-data,
#resource[resource-type="Questionnaire"][status="retired"] #base-data,
#resource[resource-type="StructureDefinition"][status="retired"] #base-data,
#resource[resource-type="ValueSet"][status="retired"] #base-data {
	background-color: var(--color-info-background-grey);
	color: var(--color-info-grey);
}

#resource[resource-type="DocumentReference"][status="current"] #base-data {
	background-color: var(--color-info-background-green);
	color: var(--color-info-green);
}

#resource[resource-type="DocumentReference"][status="superseded"] #base-data {
	background-color: var(--color-info-background-grey);
	color: var(--color-info-grey);
}

#resource[resource-type="DocumentReference"][status="entered-in-error"] #base-data {
	background-color: var(--color-info-background-red);
	color: var(--color-info-red);
}

#resource[resource-type="Endpoint"][status="active"] #base-data {
	background-color: var(--color-info-background-green);
	color: var(--color-info-green);
}

#resource[resource-type="Endpoint"][status="off"] #base-data,
#resource[resource-type="Endpoint"][status="suspended"] #base-data {
	background-color: var(--color-info-background-grey);
	color: var(--color-info-grey);
}

#resource[resource-type="Endpoint"][status="error"] #base-data,
#resource[resource-type="Endpoint"][status="entered-in-error"] #base-data {
	background-color: var(--color-info-background-red);
	color: var(--color-info-red);
}

#resource[resource-type="Endpoint"][status="test"] #base-data {
	background-color: var(--color-info-background-blue);
	color: var(--color-info-blue);
}

#resource[resource-type="Organization"][active="true"] #base-data,
#resource[resource-type="OrganizationAffiliation"][active="true"] #base-data {
	background-color: var(--color-info-background-green);
	color: var(--color-info-green);
}

#resource[resource-type="Organization"][active="false"] #base-data,
#resource[resource-type="OrganizationAffiliation"][active="false"] #base-data {
	background-color: var(--color-info-background-grey);
	color: var(--color-info-grey);
}

#resource[resource-type="Subscription"][status="requested"] #base-data {
	background-color: var(--color-info-background-blue);
	color: var(--color-info-blue);
}

#resource[resource-type="Subscription"][status="active"] #base-data {
	background-color: var(--color-info-background-green);
	color: var(--color-info-green);
}

#resource[resource-type="Subscription"][status="error"] #base-data {
	background-color: var(--color-info-background-red);
	color: var(--color-info-red);
}

#resource[resource-type="Subscription"][status="off"] #base-data {
	background-color: var(--color-info-background-grey);
	color: var(--color-info-grey);
}

#resource[resource-type="MeasureReport"][status="complete"] #base-data {
	background-color: var(--color-info-background-green);
	color: var(--color-info-green);
}

#resource[resource-type="MeasureReport"][status="pending"] #base-data {
	background-color: var(--color-info-background-blue);
	color: var(--color-info-blue);
}

#resource[resource-type="MeasureReport"][status="error"] #base-data {
	background-color: var(--color-info-background-red);
	color: var(--color-info-red);
}

#resource[resource-type="QuestionnaireResponse"][status="in-progress"] #base-data {
	background-color: var(--color-info-background-orange);
	color: var(--color-info-orange);
}

#resource[resource-type="QuestionnaireResponse"][status="completed"] #base-data {
	background-color: var(--color-info-background-grey);
	color: var(--color-info-grey);
}

#resource[resource-type="QuestionnaireResponse"][status="amended"] #base-data {
	background-color: var(--color-info-background-green);
	color: var(--color-info-green);
}

#resource[resource-type="QuestionnaireResponse"][status="entered-in-error"] #base-data {
	background-color: var(--color-info-background-red);
	color: var(--color-info-red);
}

#resource[resource-type="QuestionnaireResponse"][status="stopped"] #base-data {
	background-color: var(--color-info-background-grey);
	color: var(--color-info-grey);
}

#resource[resource-type="Task"][status="draft"] #base-data {
	background-color: var(--color-info-background-blue);
	color: var(--color-info-blue);
}

#resource[resource-type="Task"][status="requested"] #base-data {
	background-color: var(--color-info-background-grey);
	color: var(--color-info-grey);
}

#resource[resource-type="Task"][status="in-progress"] #base-data {
	background-color: var(--color-info-background-orange);
	color: var(--color-info-orange);
}

#resource[resource-type="Task"][status="completed"] #base-data {
	background-color: var(--color-info-background-green);
	color: var(--color-info-green);
}

#resource[resource-type="Task"][status="failed"] #base-data {
	background-color: var(--color-info-background-red);
	color: var(--color-info-red);
}

#resource #base-data-icon {
	padding: 0.2em 1em 0 0;
}

#resource #base-data-icon svg {
	height: 2em;
	width: 2em;
}

#resource:not([status], [active]) #base-data path {
	fill: var(--color-input-text);
}

#resource[resource-type="ActivityDefinition"][status="draft"] #base-data path,
#resource[resource-type="CodeSystem"][status="draft"] #base-data path,
#resource[resource-type="Library"][status="draft"] #base-data path,
#resource[resource-type="Measure"][status="draft"] #base-data path,
#resource[resource-type="NamingSystem"][status="draft"] #base-data path,
#resource[resource-type="Questionnaire"][status="draft"] #base-data path,
#resource[resource-type="StructureDefinition"][status="draft"] #base-data path,
#resource[resource-type="ValueSet"][status="draft"] #base-data path {
	fill: var(--color-info-blue);
}

#resource[resource-type="ActivityDefinition"][status="active"] #base-data path,
#resource[resource-type="CodeSystem"][status="active"] #base-data path,
#resource[resource-type="Library"][status="active"] #base-data path,
#resource[resource-type="Measure"][status="active"] #base-data path,
#resource[resource-type="NamingSystem"][status="active"] #base-data path,
#resource[resource-type="Questionnaire"][status="active"] #base-data path,
#resource[resource-type="StructureDefinition"][status="active"] #base-data path,
#resource[resource-type="ValueSet"][status="active"] #base-data path {
	fill: var(--color-info-green);
}

#resource[resource-type="ActivityDefinition"][status="retired"] #base-data path,
#resource[resource-type="CodeSystem"][status="retired"] #base-data path,
#resource[resource-type="Library"][status="retired"] #base-data path,
#resource[resource-type="Measure"][status="retired"] #base-data path,
#resource[resource-type="NamingSystem"][status="retired"] #base-data path,
#resource[resource-type="Questionnaire"][status="retired"] #base-data path,
#resource[resource-type="StructureDefinition"][status="retired"] #base-data path,
#resource[resource-type="ValueSet"][status="retired"] #base-data path {
	fill: var(--color-info-grey);
}

#resource[resource-type="DocumentReference"][status="current"] #base-data path {
	fill: var(--color-info-green);
}

#resource[resource-type="DocumentReference"][status="superseded"] #base-data path {
	fill: var(--color-info-grey);
}

#resource[resource-type="DocumentReference"][status="entered-in-error"] #base-data path {
	fill: var(--color-info-red);
}

#resource[resource-type="Endpoint"][status="active"] #base-data path {
	fill: var(--color-info-green);
}

#resource[resource-type="Endpoint"][status="off"] #base-data path,
#resource[resource-type="Endpoint"][status="suspended"] #base-data path {
	fill: var(--color-info-grey);
}

#resource[resource-type="Endpoint"][status="error"] #base-data path,
#resource[resource-type="Endpoint"][status="entered-in-error"] #base-data path {
	fill: var(--color-info-red);
}

#resource[resource-type="Endpoint"][status="test"] #base-data path {
	fill: var(--color-info-blue);
}

#resource[resource-type="Organization"][active="true"] #base-data path,
#resource[resource-type="OrganizationAffiliation"][active="true"] #base-data path {
	fill: var(--color-info-green);
}

#resource[resource-type="Organization"][active="false"] #base-data path,
#resource[resource-type="OrganizationAffiliation"][active="false"] #base-data path {
	fill: var(--color-info-grey);
}

#resource[resource-type="Subscription"][status="requested"] #base-data path {
	fill: var(--color-info-blue);
}

#resource[resource-type="Subscription"][status="active"] #base-data path{
	fill: var(--color-info-green);
}

#resource[resource-type="Subscription"][status="error"] #base-data path {
	fill: var(--color-info-red);
}

#resource[resource-type="Subscription"][status="off"] #base-data path {
	fill: var(--color-info-grey);
}

#resource[resource-type="MeasureReport"][status="complete"] #base-data path {
	fill: var(--color-info-green);
}

#resource[resource-type="MeasureReport"][status="pending"] #base-data path {
	fill: var(--color-info-blue);
}

#resource[resource-type="MeasureReport"][status="error"] #base-data path {
	fill: var(--color-info-red);
}

#resource[resource-type="QuestionnaireResponse"][status="in-progress"] #base-data path {
	fill: var(--color-info-orange);
}

#resource[resource-type="QuestionnaireResponse"][status="completed"] #base-data path {
	fill: var(--color-info-grey);
}

#resource[resource-type="QuestionnaireResponse"][status="amended"] #base-data path {
	fill: var(--color-info-green);
}

#resource[resource-type="QuestionnaireResponse"][status="entered-in-error"] #base-data path {
	fill: var(--color-info-red);
}

#resource[resource-type="QuestionnaireResponse"][status="stopped"] #base-data path {
	fill: var(--color-info-grey);
}

#resource[resource-type="Task"][status="draft"] #base-data path {
	fill: var(--color-info-blue);
}

#resource[resource-type="Task"][status="requested"] #base-data path {
	fill: var(--color-info-grey);
}

#resource[resource-type="Task"][status="in-progress"] #base-data path {
	fill: var(--color-info-orange);
}

#resource[resource-type="Task"][status="completed"] #base-data path {
	fill: var(--color-info-green);
}

#resource[resource-type="Task"][status="failed"] #base-data path {
	fill: var(--color-info-red);
}

#resource #base-data-list ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#resource #base-data-list li {
	margin: 0.2em 0;
}

#resource #resource-data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	row-gap: 1em;
	margin-top: 1em;
}

#resource h2 {
	font-family: monospace;
	font-size: 1.75em;
	margin: 0 0 1rem;
}

#resource h3 {
	font-family: monospace;
	font-size: 1.5em;
	margin: 1rem 0 0 0;
}

#resource .element {
	background-color: var(--color-row-background);
	border-radius: 0.4em;
	padding: 1em;
	color: var(--color-input-text);
}

#resource .element-100 {
	width: 100%;
}

#resource .element-50 {
	width: calc(50% - 2.5em);
}

#resource .element label {
	display: block;
	font-weight: bold;
	font-size: small;
	padding-bottom: 0.5em;
}

#resource .element a:link,
#resource .element a:visited,
#resource .element a:active {
	color: var(--color-input-text);
	text-decoration: none;
}

#resource .element a:hover {
	text-decoration: underline;
}

#resource .element ul {
	padding: 0 0 0 1em;
	margin: 0;
}

#resource .element li {
	margin: 0 0 0.5em 0;
}

#resource .element li:last-child {
	margin: 0;
}

#resource .element li.address p {
	margin: 0;
}

#resource .element table {
	border-collapse: separate;
	border-spacing: 0 0.4rem;
	margin: -0.4rem auto;
}

#resource .element table th {
	text-align: left;
	background-color: var(--color-row-background-hover);
	padding: 0.3em;
}

#resource .element table th:first-child {
	border-top-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}

#resource .element table th:last-child {
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

#resource .element table td {
	vertical-align: top;
	background-color: var(--color-row-background-deep);
	padding: 0.3em;
}

#resource .element table td:first-child {
	border-top-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}

#resource .element table td:last-child {
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

#resource .element table td.no-wrap {
	white-space: nowrap;
}

#resource .element-sub1:first-child {
	background-color: var(--color-row-background-deep);
	margin-top: 0.5em;
}

#resource .sub1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	row-gap: 1em;
}

#resource .element-sub1-100 {
	background-color: var(--color-row-background-deep);
	width: 100%;
}

#resource .element-sub1-50 {
	background-color: var(--color-row-background-deep);
	width: calc(50% - 2.5em);
}

#root {
	border: 1px solid #ccc;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(17.2rem, 1fr));
	gap: 20px;
	margin: 0 auto;
}

#root .element {
	border-radius: 0.4em;
	aspect-ratio: 2.8 / 1;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: auto 1fr;
  	grid-template-rows: auto auto 1fr;
	background-color: var(--color-info-background-grey);
	color: var(--color-info-grey);
}

#root a {
	text-decoration: none;
}

#root .element[resource-type="Task"][status="draft"] {
	background-color: var(--color-info-background-blue);
	color: var(--color-info-blue);
}

#root .element[resource-type="Endpoint"][status="active"],
#root .element[resource-type="Organization"][active="true"],
#root .element[resource-type="OrganizationAffiliation"][active="true"],
#root .element[resource-type="QuestionnaireResponse"][status="amended"],
#root .element[resource-type="Task"][status="completed"] {
	background-color: var(--color-info-background-green);
	color: var(--color-info-green);
}

#root .element[resource-type="QuestionnaireResponse"][status="in-progress"],
#root .element[resource-type="Task"][status="in-progress"] {
	background-color: var(--color-info-background-orange);
	color: var(--color-info-orange);
}

#root .element[resource-type="Task"][status="failed"] {
	background-color: var(--color-info-background-red);
	color: var(--color-info-red);
}

#root .element h1 {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0 0 0.2em 0;
	grid-column: 1 / span 2;
}

#root .element h2 {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
	grid-column: 1 / span 2;
}

#root .element .unit {
	font-size: 1rem;
	margin: 0.2em 0 0 0;
	align-self: end;
}

#root .element .value {
	font-size: 1.5rem;
	margin: 0.2em 0 0 0;
	align-self: end;
	text-align: right;
}

.meta {
	display: flex;
	flex-direction: row;
}

.row-list {
	padding-inline-start: 25px;
	margin-top: 0.15em;
	margin-bottom: 0.1em;
}

.row-text>a {
	text-decoration: none;
	color: var(--color-disabled-text);
}

.row-text>a:hover {
	text-decoration: underline;
}

.row-text,
.row-text>a:visited {
	color: var(--color-disabled-text);
	word-wrap: break-word;
}

.row-text.id-value {
	font-family: monospace;
}

div.row-text {
	padding-left: 6px;
}

.row[active="true"] {
	background: var(--color-row-border-green);
}

.row[active="false"] {
	background: var(--color-row-border-grey);
}

.row[status="active"]:first-child {
	background: var(--color-row-border-green);
}

.row[status="suspended"]:first-child {
	background: var(--color-row-border-red);
}

.row[status="error"]:first-child {
	background: var(--color-row-border-red);
}

.row[status="off"]:first-child {
	background: var(--color-row-border-grey);
}

.row[status="entered-in-error"]:first-child {
	background: var(--color-row-border-red);
}

.row[status="test"]:first-child {
	background: var(--color-row-border-blue);
}

.row[status="draft"]:first-child {
	background: var(--color-row-border-blue);
}

.flex-container {
	display: flex;
	flex-direction: row;
}

.flex-child {
	flex: 1;
}

.flex-child-margin-right {
	margin-right: 0.5em
}

.comparator {
	flex: 0;
}

.authorization {
	padding-bottom: 0.25em !important;
}

.authorization>h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 1em 1em 0.75em 0.25em;
	font-size: 1em;
}

a#download {
	background-color: #326F95;
	color: #fff;
	padding: 12px 60px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: left;
    border: 1px outset buttonborder;
    border-radius: 4px;
    text-decoration: none;
}

.content-header {
	display: flex;
	justify-content: space-between;
}

.content-pre {
	margin-bottom: 0;
}

.collapsible {
	transition: max-height 0.3s ease;
}

.collapsed {
	overflow: hidden;
	max-height: 15em;
	position: relative;
}

.collapsed::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10em;
	width: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--color-row-background));
	pointer-events: none;
}

.collapsable.overflow::after {
	opacity: 1;
}

.collapsable.overflow .collapse-button {
	opacity: 1;
	cursor: pointer;
}

.collapsable.no-overflow::after {
	opacity: 0;
}

.collapsable.no-overflow .collapse-button {
	opacity: 0;
	cursor: default;
}

.expanded {
	max-height: none;
}

.collapse-button {
	fill: none;
	stroke: #aaa;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	margin-top: -0.5em;
	margin-right: -0.25em;
}

.collapse-button-rotated {
	transform: rotate(180deg);
}

@media print {
	body {
		margin: 0;
	}
	table#header {
		margin-bottom: 2em;
	}
	table#header img {
		height: 3em;
	}
	td#url h1 {
		font-size: 1.5em;
	}
	.tab {
		display: none;
	}
	pre.prettyprint {
		border: 0 !important;
	}
	#icons {
		display: none;
	}
	#bookmarks {
		display: none;
	}
	#help {
		display: none;
	}
}