<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="resource">
		<div id="resource-data" th:fragment="resource-data">
			<th:block th:insert="~{resourceElements::string}" th:with="label='Name',string=${metadataResource.name}" th:if="${metadataResource.name}"></th:block>
			<th:block th:insert="~{resourceElements::status}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Date',string=${metadataResource.date}" th:if="${metadataResource.date}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Description',string=${namingSystem.description}" th:if="${namingSystem.description}"></th:block>
			<th:block th:insert="~{resourceElements::additionalValuesComment}"></th:block>
		</div>
	</div>
</body>
</html>