<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="resource">
		<div id="resource-data" th:fragment="resource-data">
			<th:block th:insert="~{resourceElements::status}" th:if="${resource.status}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Reason',string=${subscription.reason}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Criteria',string=${subscription.criteria}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Channel Type',string=${subscription.channelType},class='element element-50'"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Channel Payload',string=${subscription.channelPayload},class='element element-50'"></th:block>
		</div>
	</div>
</body>
</html>