<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="resource">
		<div id="resource-data" th:fragment="resource-data">
			<th:block th:insert="~{resourceElements::identifier}" th:with="identifier=${endpoint.identifier}"></th:block>
			<th:block th:insert="~{resourceElements::status}" th:if="${resource.status}"></th:block>
			<th:block th:insert="~{resourceElements::systemAndValue}" th:with="label='Connection Type',systemAndValue=${endpoint.connectionType}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Name',string=${endpoint.name}" th:if="${endpoint.name}"></th:block>
			<th:block th:insert="~{resourceElements::id}" th:with="label='Managing Organization',id=${endpoint.managingOrganization}" th:if="${endpoint.managingOrganization}"></th:block>
			<th:block th:insert="~{resourceElements::systemsAndValues}" th:with="label='Payload Type',systemsAndValues=${endpoint.payloadType}"></th:block>
			<th:block th:insert="~{resourceElements::strings}" th:with="label='Payload MIME-Type',strings=${endpoint.payloadMimeType}" th:if="${endpoint.payloadMimeType}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Address',string=${endpoint.address}" th:if="${endpoint.address}"></th:block>
		</div>
	</div>
</body>
</html>