<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="resource">
		<div id="resource-data" th:fragment="resource-data">
			<th:block th:insert="~{resourceElements::string}" th:with="label='URL | Version',string=${metadataResource.urlAndVersion}" th:if="${metadataResource.urlAndVersion}"></th:block>
			<th:block th:insert="~{resourceElements::identifier}" th:with="identifier=${metadataResource.identifier}" th:if="${metadataResource.identifier}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Name',string=${metadataResource.name}" th:if="${metadataResource.name}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Title',string=${metadataResource.title}" th:if="${metadataResource.title}"></th:block>
			<th:block th:insert="~{resourceElements::status}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Experimental',string=${metadataResource.experimental}" th:if="${metadataResource.experimental}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Date',string=${metadataResource.date}" th:if="${metadataResource.date}"></th:block>
			<th:block th:insert="~{resourceElements::string}" th:with="label='Description',string=${library.description}" th:if="${library.description}"></th:block>
			<th:block th:insert="~{resourceElements::strings}" th:with="label='Type',strings=${library.type}"></th:block>
			<th:block th:insert="~{resourceElements::contents}" th:with="contents=${library.content}" th:unless="${#lists.isEmpty(library.content)}"></th:block>
			<th:block th:insert="~{resourceElements::additionalValuesComment}"></th:block>
		</div>
	</div>
</body>
</html>