<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table>
		<tr th:fragment="header"><th>ID</th><th>Active</th><th>Parent Organization</th><th>Participating Organization</th><th>Role</th><th>Endpoint</th><th>Last Updated</th></tr>
		<tr th:fragment="row" title="Open" th:title="'Open ' + ${element.id.resourceType}" th:attr="resource-type=${element.id.resourceType}">
			<td class="id-value" active="true" th:attr="active=${element.active}"><a href="#" title="Open" th:href="${element.id.href}" th:title="'Open ' + ${element.id.resourceType}" th:text="${element.id.value}">id</a></td>
			<td th:text="${element.active}">true</td>
			<td class="id-value"><a href="#" title="Open" th:href="${element.parentOrganization.href}" th:title="'Open ' + ${element.parentOrganization.resourceType}" th:text="${element.parentOrganization.value}">parentOrganization-id</a></td>
			<td class="id-value"><a href="#" title="Open" th:href="${element.participatingOrganization.href}" th:title="'Open ' + ${element.participatingOrganization.resourceType}" th:text="${element.participatingOrganization.value}">participatingOrganization-id</a></td>
			<td th:text="${element.role}">role</td>
			<td class="id-value"><a href="#" title="Open" th:href="${element.endpoint.href}" th:title="'Open ' + ${element.endpoint.resourceType}" th:text="${element.endpoint.value}">endpoint-id</a></td>
			<td th:text="${element.lastUpdated}">lastUpdated</td>
		</tr>
	</table>
</body>
</html>