<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table>
		<tr th:fragment="header"><th>ID</th><th>Status</th><th>Process</th><th>Message-Name</th><th>Requester</th><th>Business-Key / Identifier</th><th>Last Updated</th></tr>
		<tr th:fragment="row" title="Open" th:title="'Open ' + ${element.id.resourceType}" th:attr="resource-type=${element.id.resourceType}">
			<td class="id-value" status="draft" th:attr="status=${element.status}"><a href="#" title="Open" th:href="${element.id.href}" th:title="'Open ' + ${element.id.resourceType}" th:text="${element.id.value}">id</a></td>
			<td th:text="${element.status}">draft</td>
			<td>[[${element.processDomain}]] | [[${element.processName}]] | [[${element.processVersion}]]</td>
			<td th:text="${element.messageName}">messageName</td>
			<td th:text="${element.requester}">requester</td>
			<td th:text="${element.businessKeyOrIdentifier}" th:class="${element.status} != 'draft' ? 'id-value'">businessKeyOrIdentifier</td>
			<td th:text=${element.lastUpdated}>lastUpdated</td>
		</tr>
	</table>
</body>
</html>