[theme="light"] {
	--color-prime: #326F95;
	--color-background: #fff;
	--color-alt-background: #eee;
	--color-tab-button: #000;
	--color-tab-button-background: #f1f1f1;
	--color-tab-button-hover: #000;
	--color-tab-button-background-hover: #ddd;
	--color-tab-button-background-active: #ccc;
	--color-row-background: #f2f2f2;
	--color-row-background-deep: #e2e2e2;
	--color-row-background-hover: #ddd;
	--color-input-text: #000;
	--color-input-background: #fff;
	--color-input-border: #ccc;
	--color-input-radio-border: #000;
	--color-input-placeholder: #aaa;
	--color-info-background-draft: #deecf9;
	--color-info-text-draft: #326F95;
	--color-info-background-requested: #f2f2f2;
	--color-info-text-requested: #545454;
	--color-info-background-progress: #fff7c7;
	--color-info-text-progress: #a25b36;
	--color-info-background-completed: #e4fde1;
	--color-info-text-completed: #357a38;
	--color-info-background-failed: #ffe1e1;
	--color-info-text-failed: #761137;
	--color-info-background-stopped: #ffe1e1;
	--color-info-text-stopped: #761137;
	--color-error-background: #ffe1e1;
	--color-error-text: #761137;
	--color-disabled-background: #f2f2f2;
	--color-disabled-text: #545454;
	--color-row-border-draft: #326F95;
	--color-row-border-requested: #545454;
	--color-row-border-progress: #a25b36;
	--color-row-border-completed: #357a38;
	--color-row-border-failed: #761137;
	--color-row-border-stopped: #761137;
}

[theme="dark"] {
	--color-prime: #fff;
	--color-background: #000;
	--color-alt-background: #181818;
	--color-tab-button: #fff;
	--color-tab-button-background: #181818;
	--color-tab-button-background-hover: #ddd;
	--color-tab-button-hover: #000;
	--color-tab-button-background-active: #888;
	--color-row-background: #333;
	--color-row-background-deep: #444;
	--color-row-background-hover: #777;
	--color-input-text: #fff;
	--color-input-background: #181818;
	--color-input-border: #666;
	--color-input-radio-border: #fff;
	--color-input-placeholder: #666;
	--color-info-background-draft: #326F95;
	--color-info-text-draft: #deecf9;
	--color-info-background-requested: #333;
	--color-info-text-requested: #aaa;
	--color-info-background-progress: #a25b36;
	--color-info-text-progress: #fff7c7;
	--color-info-background-completed: #14452f;
	--color-info-text-completed: #e4fde1;
	--color-info-background-failed: #761137;
	--color-info-text-failed: #ffe1e1;
	--color-info-background-stopped: #761137;
	--color-info-text-stopped: #ffe1e1;
	--color-error-background: #761137;
	--color-error-text: #ffe1e1;
	--color-disabled-background: #333;
	--color-disabled-text: #aaa;
	--color-row-border-draft: #326F95;
	--color-row-border-requested: #aaa;
	--color-row-border-progress: #a25b36;
	--color-row-border-completed: #14452f;
	--color-row-border-failed: #761137;
	--color-row-border-stopped: #761137;
}

body {
	margin: 2em;
	font-family: sans-serif;
	background-color: var(--color-background);
}

table#header {
	margin-bottom: 0.4em;
}

table#header img {
	height: 7em;
	padding-bottom: 0.38em;
	display: block;
}

td#url {
	vertical-align: bottom;
}

td#url h1 {
	font-family: monospace;
	color: var(--color-prime);
	margin: 0 0 0 1em;
	word-break: break-word;
}

td#url h1 a:link,
td#url h1 a:visited,
td#url h1 a:active {
	color: var(--color-prime);
	text-decoration: none;
}

td#url h1 a:hover {
	text-decoration: underline;
}

.tab {
	text-align: right;
}

.tab button {
	padding: 0.2em 0.6em;
	background-color: var(--color-tab-button-background);
	color: var(--color-tab-button);
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.tab button:hover {
	background-color: var(--color-tab-button-background-hover);
	color: var(--color-tab-button-hover);
}

.tab button.active {
	background-color: var(--color-tab-button-background-active);
	color: var(--color-tab-button);
}

pre {
	white-space: pre-wrap;
	word-break: break-all;
	margin-top: 0;
}

pre.lang-html {
	border: 0;
	font-family: monospace;
}

#icons {
	position: absolute;
	top: 2em;
	right: 2em;
	display: flex;
	column-gap: 0.25em;
}

#hello-user {
	margin-right: 0.5em;
	color: #aaa;
	padding-top: 0.2em;
	font-size: 0.9em;
}

.icon {
	height: 1.4em;
	cursor: pointer;
}

.icon>path {
	fill: #aaa;
}

.icon:hover>path {
	fill: var(--color-prime);
}

.icon[disabled] {
	height: 1.4em;
	cursor: auto;
}

.icon[disabled]:hover>path {
	fill: #aaa;
}

#help {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 1em;
	border: 1px solid #ccc;
	color: var(--color-prime);
	background: var(--color-background);
	padding-top: 2em;
	max-width: 83%;
	min-width: 12em;
	z-index: 1;
}

#help>#help-title {
	color: var(--color-prime);
	position: relative;
	top: -1.9em;
	font-family: sans-serif;
}

#help-close {
	position: absolute;
	top: 1em;
	right: 1em;
}

.help-param {
	font-size: small;
	font-family: sans-serif;
}

.help-param-name {
	font-weight: bold;
	margin-right: 1em;
}

.help-param-type {
	font-style: italic;
}

.help-param-documentation {
	max-width: 50em;
	margin-top: 0.5em;
	margin-bottom: 1.2em;
}

#bookmarks {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 1em;
	border: 1px solid #ccc;
	background: var(--color-background);
	padding-top: 2em;
	max-width: 83%;
	min-width: 8em;
	z-index: 1;
}

#bookmarks>#bookmarks-title {
	color: var(--color-prime);
	position: relative;
	top: -1.9em;
	font-family: sans-serif;
}

#bookmarks a:link,
#bookmarks a:visited,
#bookmarks a:active {
	color: var(--color-prime);
	text-decoration: none;
	vertical-align: super;
	font-family: monospace;
}

#bookmarks a:hover {
	text-decoration: underline;
}

#bookmarks>#bookmarks-list {
	margin-block-start: 0;
	margin-block-end: 0;
}

#bookmarks>#bookmarks-list>h4 {
	margin-block-start: 1em;
	margin-block-end: 0.2em;
}

#bookmarks>#bookmarks-list>div {
	margin-block-start: 0;
	margin-block-end: 0.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#bookmarks:focus {
	outline: none;
}

#bookmark-list-close {
	position: absolute;
	top: 1em;
	right: 1em;
}

.bookmarks-list-entry-removed>a:link,
.bookmarks-list-entry-removed>a:visited,
.bookmarks-list-entry-removed>a:active {
	color: #aaa !important;
}

.bundle>#header>table {
  width: 100%
}

.bundle>#header #resources {
	padding-right: 1em;
	color: #aaa
}

.bundle>#header #page {
	padding-left: 1em;
	color: #aaa
}

.bundle {
	border: 1px solid #ccc;
	padding: 20px 20px 10px 20px;
	color: var(--color-prime);
}

.bundle>#list {
	overflow-x: auto;
}

.bundle>#list>table {
	border-collapse: separate;
	border-spacing: 0 1rem;
  width: 100%
}

.bundle>#list>table tr:not(:first-child) {
	cursor: pointer;
}

.bundle>#list>table th:first-child {
	border-left: 0.5rem solid var(--color-row-background-deep);
}

.bundle>#list>table td:first-child {
	border-left: 0.5rem solid var(--color-row-background);
}

.bundle>#list>table th {
	color: var(--color-prime);
	background-color: var(--color-row-background-deep);
	padding: 1rem 0 1rem 1rem;
	white-space: nowrap;
	text-align: left;
}

.bundle>#list>table td {
	background-color: var(--color-row-background);
	padding: 1rem 0 1rem 1rem;
	white-space: nowrap;
	text-align: left;
}

.bundle>#list>table tr:hover td {
	background-color: var(--color-row-background-hover);
}

.bundle>#list>table th:last-child {
	padding-right: 1rem;
}

.bundle>#list>table td:last-child {
	padding-right: 1rem;
}

.bundle>#list>table td[status="draft"]:first-child {
	border-left-color: var(--color-row-border-draft);
}

.bundle>#list>table td[status="requested"]:first-child {
	border-left-color: var(--color-row-border-requested);
}

.bundle>#list>table td[status="in-progress"]:first-child {
	border-left-color: var(--color-row-border-progress);
}

.bundle>#list>table td[status="completed"]:first-child {
	border-left-color: var(--color-row-border-completed);
}

.bundle>#list>table td[status="failed"]:first-child {
	border-left-color: var(--color-row-border-failed);
}

.bundle>#list>table td[status="stopped"]:first-child {
	border-left-color: var(--color-row-border-stopped);
}

.bundle>#list>table td[status="active"]:first-child {
	border-left-color: var(--color-row-border-completed);
}

.bundle>#list>table td[status="suspended"]:first-child {
	border-left-color: var(--color-row-border-stopped);
}

.bundle>#list>table td[status="error"]:first-child {
	border-left-color: var(--color-row-border-failed);
}

.bundle>#list>table td[status="off"]:first-child {
	border-left-color: var(--color-row-border-requested);
}

.bundle>#list>table td[status="entered-in-error"]:first-child {
	border-left-color: var(--color-row-border-failed);
}

.bundle>#list>table td[status="test"]:first-child {
	border-left-color: var(--color-row-border-draft);
}

.bundle>#list>table td[active="true"]:first-child {
	border-left-color: var(--color-row-border-completed);
}

.bundle>#list>table td[active="false"]:first-child {
	border-left-color: var(--color-row-border-requested);
}

.bundle>#list>table td.id-value {
	font-family: monospace;
}

.bundle a:link,
.bundle a:visited,
.bundle a:active {
	color: var(--color-prime);
	text-decoration: none;
}

.bundle a:hover {
	text-decoration: underline;
}

.bundle>#list>table td:first-child,
.bundle>#list>table th:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.bundle>#list>table td:last-child,
.bundle>#list>table th:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.section-header {
	font-family: monospace;
	font-size: 1.75em;
	color: #326F95;
	padding-left: 5px;
	margin-bottom: 12px;
}

.resource {
  border: 1px solid #ccc;
  padding: 20px 20px 10px 20px;
  color: var(--color-prime);
}

.meta {
  display: flex;
  flex-direction: row
}

.profiles {
  margin-right: 0.7em;
  width: 67%;
}

.last-updated {
  width: 33%;
}

.row-list {
  padding-inline-start: 25px;
  margin-top: 0.15em;
  margin-bottom: 0.1em;
}

.row-text>a {
  text-decoration: none;
  color: var(--color-disabled-text);
}

.row-text>a:hover {
  text-decoration: underline;
}

.row-text, .row-text>a:visited {
  color: var(--color-disabled-text);
  word-wrap: break-word;
}

.row-text.id-value {
  font-family: monospace;
}

div.row-text {
  padding-left: 6px;
}

.row[active="true"] {
	background: var(--color-row-border-completed);
}

.row[active="false"] {
	background: var(--color-row-border-requested);
}

.row[status="active"]:first-child {
	background: var(--color-row-border-completed);
}

.row[status="suspended"]:first-child {
	background: var(--color-row-border-stopped);
}

.row[status="error"]:first-child {
	background: var(--color-row-border-failed);
}

.row[status="off"]:first-child {
	background: var(--color-row-border-requested);
}

.row[status="entered-in-error"]:first-child {
	background: var(--color-row-border-failed);
}

.row[status="test"]:first-child {
	background: var(--color-row-border-draft);
}

.contact {
  display: flex;
  flex-direction: row;
}

.contact-element-100 {
  width: 100%;
  margin-right: 0em;
}

.contact-element-50 {
  width: 50%;
  margin-right: 0em;
}

.contact-element-margin {
  margin-right: 0.7em;
}

@media print {
	body {
		margin: 0;
	}

	table#header {
		margin-bottom: 2em;
	}

	table#header img {
		height: 3em;
	}

	td#url h1 {
		font-size: 1.5em;
	}

	.tab {
		display: none;
	}

	pre.prettyprint {
		border: 0 !important;
	}

	#icons {
		display: none;
	}

	#bookmarks {
		display: none;
	}

	#help {
		display: none;
	}
}