form {
	border: none;
	padding: 0;
	margin-top: 0.7em;
}

fieldset#form-fieldset {
	display: block;
	margin: 0;
	padding: 0;
	min-inline-size: min-content;
	border: none;
}

.row {
	border-radius: 5px;
	padding: 0 1em 1em 1em;
	margin-bottom: 0.7em;
	background-color: var(--color-row-background);
}

.row:has(ul.error-list:not(:empty)) {
	background-color: var(--color-error-background);
}

.row-display {
	padding-top: 15px;
}

.row-submit {
	margin-top: 0.3em;
}

.comment {
	margin-top: 1em;
}

.p-display {
	margin: 0;
	color: var(--color-input-text)
}

.error-list {
	display: block;
	font-size: small;
	color: var(--color-error-text);
	padding-left: 20px;
	margin-bottom: 0;
}

.error-list:empty {
	display: none;
}

.row-info {
	display: flex;
	padding-top: 15px;
}

.row label {
	display: block;
	color: var(--color-input-text);
	padding: 1em 0 0.25em 0.4em;
	font-weight: bold;
	font-size: small;
	position: relative;
}

.row label.radio {
	padding: 5px 12px 5px 0;
	font-weight: 100;
	color: var(--color-input-text);
	width: auto;
	display: inline-block;
}

input {
	background-color: var(--color-input-background);
	color: var(--color-input-text);
}

input[type=radio] {
	margin-right: 7px;
}

input[type="radio"] {
	border: 0.1em solid var(--color-input-radio-border);
	border-radius: 9px;
	height: 18px;
	width: 18px;
	margin-bottom: -0.2em;
	-webkit-appearance: none;
	appearance: none;
}

input[type="radio"][disabled],
fieldset#form-fieldset[disabled] input[type="radio"] {
	border: 1px solid var(--color-disabled-text);
}

input[type="radio"]:checked {
	border: 0.1em solid var(--color-prime);
	background-color: var(--color-prime);
	box-shadow: inset 0 0 0 0.2em var(--color-background);
}

input[type="radio"][disabled]:checked,
fieldset#form-fieldset[disabled] input[type="radio"]:checked {
	border: 0.1em solid var(--color-disabled-text);
	background-color: var(--color-disabled-text);
	box-shadow: inset 0 0 0 0.2em var(--color-disabled-background);
}

input[disabled],
fieldset#form-fieldset[disabled] input {
	cursor: default;
	background-color: var(--color-disabled-background);
	color: var(--color-disabled-text);
	border-color: rgba(118, 118, 118, 0.5);
}

input[type=text],
input[type=url],
select,
textarea {
	width: 100%;
	min-width: 200px;
	padding: 12px;
	border: 1px solid var(--color-input-border);
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	display: block;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=number] {
	width: 100%;
	min-width: 200px;
	padding: 12px;
	border: 1px solid var(--color-input-border);
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
	display: block;
}

input[type=number] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	-o-appearance: textfield;
	appearance: textfield;
}

.input-group {
	display: flex;
	flex-direction: row;
}

.extensions {
	margin-top: 1em;
	padding: 0 1em 1em 1em;
	background-color: var(--color-row-background-deep);
	border-radius: 5px;
}

.input-group-radio {
	width: 100%;
	min-width: 200px;
}

.row svg {
	cursor: pointer;	
}

.row svg>path {
	fill: #aaa;
}

.row svg:hover>path {
	fill: var(--color-prime);
}

.insert {
	align-self: center;
	margin-left: 0.5em;
	rotate: 180deg;
}

.insert[disabled] {
	cursor: default;
}

.insert[disabled]>path {
	display: none;
}

.copy {
	align-self: center;
	margin-left: 0.5em;
}

.copy[disabled] {
	cursor: default;
}

.copy[disabled]>path {
	display: none;
}

input.identifier-coding-code {
	margin-top: 6px;
}

/* .input-output-header {
	font-family: monospace;
	font-size: 1.75em;
	color: #326F95;
	padding-left: 5px;
	margin-bottom: 12px;
} */

.invisible {
	display: none;
}

button.submit {
	background-color: #326F95;
	color: #fff;
	padding: 12px 60px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: left;
}

.spinner-enabled {
	display: block;
}

.spinner-disabled {
	display: none;
}

.spinner {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 9999;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spinner::after {
	content: '';
	position: absolute;
	left: 48%;
	top: 40%;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: #29235c;
	border-top-color: transparent;
	border-width: 4px;
	border-radius: 50%;
	-webkit-animation: spin .8s linear infinite;
	animation: spin .8s linear infinite;
}

.cardinalities {
	font-weight: normal;
	font-size: x-small;
	color: #aaa;
	margin-left: 0.4em;
}

.plus-minus-icon {
	position: absolute;
	bottom: 0.2em;
	right: 0.1em;
	cursor: pointer;
}

::placeholder {
	color: var(--color-input-placeholder);
}

::-ms-input-placeholder {
	color: var(--color-input-placeholder);
}