<Configuration status="WARN" monitorInterval="30" verbose="false">

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%p\t%t - %C{1}.%M(%L) | %m%n"/>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="de.rwh" level="INFO"/>
		<Logger name="dev.dsf" level="TRACE"/>
		<Logger name="org.eclipse.jetty" level="INFO"/>
		
		<Root level="WARN">
			<AppenderRef ref="CONSOLE"/>
		</Root>
	</Loggers>
</Configuration>