name: Java CI Publish with Maven

on:
  pull_request:
    types: closed
    branches: develop

jobs:
  publish:

    # Only run if pull requests are merged, omit running if pull requests are closed without merging
    if: github.event.pull_request.merged

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'maven'
          check-latest: true
      - name: Publish with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn --batch-mode --fail-at-end --threads 1C -DforkCount=2 clean deploy
